In [1]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# reading data set
train = pd.read_csv('/home/yash/project/Analytics_Vidya/Hack_A_Thon/Query-Domain-Classification/dataset/train_3.csv') 
test = pd.read_csv('/home/yash/project/Analytics_Vidya/Hack_A_Thon/Query-Domain-Classification/dataset/test_ZUT1mqB.csv')

In [12]:
train # train dataset

        ID                                              Title      Domain
0        1  What is good in a decision tree, a large or a ...  Techniques
1        2  Training data only contains single positive label  Techniques
2        3  Calculating percentage contribution of a negat...  Techniques
3        4                   Unable to open solution checker!  Hackathons
4        5                                   User Name Change        Misc
...    ...                                                ...         ...
3840  3841  Where to find practice problems for linear reg...   Resources
3841  3842          Running Java code on the GPU with Aparapi       Tools
3842  3843  R/Python Script needed to assign Cluster ID to...       Tools
3843  3844                  Separate a column into two column  Techniques
3844  3845                        Clustering and Segmentation  Techniques

[3845 rows x 3 columns]

In [13]:
test # test_dataset

        ID                                              Title
0     3846                                   Spark Cheatsheet
1     3847             Review of Random forest code in Python
2     3848                  Chi-Sq Test for Numeric variables
3     3849  Prediction from loaded pickled file for single...
4     3850  Even after installing Anaconda on my PC, I am ...
...    ...                                                ...
1644  5490  Should we take all the variables from the trai...
1645  5491  Time Series Forecasting and reducing it to sta...
1646  5492  Data Visualization and text analysis (twitter ...
1647  5493       Cross Validation strategy for stacked models
1648  5494  How to convert Cross Table into Straight Table...

[1649 rows x 2 columns]

In [27]:
train.info() , test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3845 entries, 0 to 3844
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      3845 non-null   int64
 1   Title   3834 non-null   object
 2   Domain  3845 non-null   object
dtypes: int64(1), object(2)
memory usage: 90.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1649 entries, 0 to 1648
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      1649 non-null   int64
 1   Title   1649 non-null   object
dtypes: int64(1), object(1)
memory usage: 25.9+ KB

(None, None)

In [5]:
train['Domain'].unique

<bound method Series.unique of 0       Techniques
1       Techniques
2       Techniques
3       Hackathons
4             Misc
           ...
3840     Resources
3841         Tools
3842         Tools
3843    Techniques
3844    Techniques
Name: Domain, Length: 3845, dtype: object>

In [11]:
train['Title'].value_counts

<bound method IndexOpsMixin.value_counts of 0       What is good in a decision tree, a large or a ...
1       Training data only contains single positive label
2       Calculating percentage contribution of a negat...
3                        Unable to open solution checker!
4                                        User Name Change
                              ...
3840    Where to find practice problems for linear reg...
3841            Running Java code on the GPU with Aparapi
3842    R/Python Script needed to assign Cluster ID to...
3843                    Separate a column into two column
3844                          Clustering and Segmentation
Name: Title, Length: 3845, dtype: object>

In [ ]:
plt.plot()